<launch>
  <arg
    name="model" />
  <param
    name="robot_description"
    textfile="$(find PTB22-L40-1000-R-M75-C3-0.SLDASM)/urdf/PTB22-L40-1000-R-M75-C3-0.SLDASM.urdf" />
  <node
    name="joint_state_publisher_gui"
    pkg="joint_state_publisher_gui"
    type="joint_state_publisher_gui" />
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find PTB22-L40-1000-R-M75-C3-0.SLDASM)/urdf.rviz" />
</launch>